:root {
    --banner: rgb(0, 0, 0);
    --content-background: rgba(255, 255, 255, 0.548);

    --font-light: rgb(255, 255, 255);
    --font-dark: rgb(0, 0, 0);
    --font-footer: rgba(110, 110, 110, 1);
    --font-error: rgb(244, 6, 6);

    --button: rgba(0, 0, 0, 0.5);
    --button-hover: rgb(0, 130, 181);
    --button-active: rgb(130, 196, 227);

    --border-black: rgb(0, 0, 0);
    --border-grey: rgb(106, 106, 106);
    --border-light-grey: rgb(177, 177, 177);

    --link-font-color: rgb(0, 92, 179);
}

body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Signika Negative', sans-serif;
    font-size: 16px;
    color: var(--font-light);
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    color: var(--font-dark);
    width: 70%;
    word-break: break-word;
    overflow: hidden;
    flex: 1;
    max-height: fit-content;
}

.content, .content-centered {
    background-color: var(--content-background);
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.content-centered {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 30px;
    background-color: var(--banner);
    color: var(--font-footer);
    margin-top: 30px;
    padding: 10px;
}

header {
    background-color: var(--banner);
    text-align: center;
}

nav {
    padding-bottom: 10px;
}
  
button, .tab{
    background-color: var(--button);
    color: var(--font-light);
    border: 1px solid var(--border-grey);
    border-radius: 1px;

    text-decoration: none;
    padding: 8px;
    cursor: pointer;
    height: fit-content;
    transition: background-color 0.4s ease;
}

button:hover, .tab:hover {
    background-color: var(--button-hover);
    border: 1px solid var(--border-light-grey);

    box-shadow: 0px 0px 0px transparent;
    text-shadow: 0px 0px 0px transparent;
}

button:active, .tab:active {
    background-color: var(--button-active);
    border: 1px solid var(--border-light-grey);
    outline: none;
}

a {
    color: var(--link-font-color);
}

li {
    list-style: none;
}

ul li {
    display: inline-block;
    margin-top: 10px;
}

.error {
    font-size: 14px;
    color: var(--font-error);
    display: none;
}

.logo {
    text-shadow: 0px 0px 0px transparent;
    background-size: cover;
    height: 80px;
    width: 300px;
}

.language-logo {
  margin-right: 10px; /* opcjonalnie, aby dodać odstęp między obrazkiem a tekstem */
  float: left;
  height: 100px;
  width: 100px;
}

.icon {
    text-shadow: 0px 0px 0px transparent;
    background-size: cover;
    height: 30px;
    width: 30px;
    display: inline-block;
}

figure {
    width: 100%;
    max-width: fit-content;
    height: 100%;
    overflow: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

figcaption {
    text-align: center;
}

.content-transparent {
    padding: 20px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    color: var(--font-light);
    width: 70%;
    word-break: break-word;
    overflow: hidden;
}

footer a {
    text-decoration: none;
}

.g-recaptcha-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.g-recaptcha {
    display: block;
}

.consent {
    max-width: 300px;
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
}

.profile-picture {
    height: 100px;
    width: 100px;
    opacity: 0.5;
    display: inline-block;
}

.user-data {
    display: inline-block;
}

.centered {
    text-align: center;
}

.single-line {
    display: block;
}

#cookie-banner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--banner);
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #ddd;
}
#cookie-banner button {
    background-color: var(--button-active);
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

/* -------------------------------------- RESPONSIVITY --------------------------------------*/


@media (max-width: 767px) {

    main {
        width: 100%;
        margin: 0px;
    }

    .footer-container {
        width: 90%;
    }

    .content-transparent {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }

    button {
        min-width: fit-content;
        width: 220px;
        display: flexbox;
    }

}

@media (max-width: 350px) {
    .footer {
        font-size: 10px;
    }
}
